* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid green;
}

.header,
.footer {
  height: 100px;
  background-color: rgb(175, 219, 255);
}

.title {
  font-size: 64px;
  text-align: center;
  color: #fff;
}

.main-vector .title {
  color: #2c2c2c;
}

.main-vector__list {
  margin-bottom: 50px;
  font-size: 24px;
  padding-left: 20px;
}

.main-vector__list--mb0 {
  margin-bottom: 0px;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-link {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  /* display: inline-block; */
  padding: 20px 20px;
  margin-right: 20px;
  font-size: 24px;
  background-color: rgb(163, 192, 255);
}

.github-link {
  margin-left: auto;
}

.github-link:hover .github-icon {
  fill: rgb(154, 66, 255);
}

.current {
  background-color: rgb(154, 66, 255);
  color: red;
  /* font-weight: 700; */
}
