* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid green;
}

.header,
.footer {
  /* height: 100px; */
  background-color: #afdbff;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.title {
  margin-top: 20px;
  font-size: 64px;
  text-align: center;
  color: #2c2c2c;
}

.hero .title {
  color: white;
}

.main-vector__list {
  margin-bottom: 50px;
  font-size: 24px;
  padding-left: 20px;
}

.main-vector__list--mb0 {
  margin-bottom: 0px;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link-or-btn {
  outline: 1px solid red;
  width: 0;
}

/* modal additional styles*/
.main-modal .container {
  background-color: #deffde;
  height: 800px;
}

.modal-open-btn {
  padding: 20px;
  border: none;
  border-radius: 4px;
  font-size: 24px;
  color: #fff;
  background-color: tomato;
  cursor: pointer;
  transition: 250ms color linear, 250ms background-color linear;
}

.modal-open-btn:hover {
  color: tomato;
  background-color: #f7f7f7;
  border: 1px solid tomato;
}

.header .container {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
}

.header-link {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  /* display: inline-block; */
  padding: 20px 20px;
  margin-right: 20px;
  font-size: 24px;
  background-color: #a3c0ff;
}

.github-link {
  margin-left: auto;
}

.github-link:hover .github-icon {
  fill: #9a42ff;
}

.current {
  background-color: #9a42ff;
  color: red;
  /* font-weight: 700; */
}

.overlay-container {
  outline: 3px solid red;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0.3), rgba(0, 0, 255, 0.3)), url("../../images/hero-mobile.jpg"), linear-gradient(to right, red, blue);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* ========================= EXAMPLE 2 ========================= */
.card {
  padding: 10px;
  width: 400px;
  outline: 2px solid black;
}

.card .text {
  margin-top: 20px;
  font-size: 24px;
}

.card::before {
  display: block;
  content: '';
  height: 70px;
  margin-bottom: 20px;
  /* background-size: contain; */
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #d8e4ff;
}

.icon-astronaut::before {
  background-image: url("../images/pseudo/astronaut.svg");
}

.icon-clock::before {
  background-image: url("../images/pseudo/clock.svg");
}

/* ============================================================= */
/* ========================= EXAMPLE 1 ========================= */
/* Approach 2 - with pseudoelement*/
.button {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 24px;
  background-color: teal;
  color: #fff;
  cursor: pointer;
}

.button::before {
  content: '';
  width: 20px;
  height: 20px;
  margin-right: 10px;
  outline: 1px solid black;
  background-image: url("../images/rocket-icon.png");
  background-size: contain;
}

.button:hover,
.button:focus {
  background-color: pink;
  color: green;
}

/* Approach 1 - without pseudoelement*/
/* .button {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;

  font-size: 24px;
  background-color: teal;
  color: #fff;
  cursor: pointer;
}

.button > .icon {
  width: 20px;
  height: 20px;
  outline: 1px solid black;
  margin-right: 10px;

  background-image: url('../images/rocket-icon.png');
  background-size: contain;
}

.button:hover,
.button:focus {
  background-color: pink;
  color: green;
} */
/* ============================================================= */
.form1 {
  width: 400px;
}

.form1__group-title {
  display: block;
  margin-bottom: 5px;
}

.form1__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form1__field--date {
  margin-top: 10px;
}

.form1__field input {
  margin: 0;
  padding: 6px 10px;
  border: 1px solid #2a2a2a;
}

.form1__field input::placeholder {
  color: #af0000;
}

.form1__field label {
  margin-bottom: 5px;
}

.form1__topic-technologies li {
  display: flex;
  align-items: center;
}

.form1__topic-technologies label {
  margin-left: 10px;
  font-size: 20px;
}

.form1__group--experience {
  margin-top: 10px;
}

.form__comments {
  resize: none;
  padding: 8px;
}
/*# sourceMappingURL=main.css.map */