*,
*::before,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
}

.header,
.footer {
  /* height: 100px; */
  background-color: #afdbff;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.title {
  margin-top: 20px;
  font-size: 64px;
  text-align: center;
  color: #2c2c2c;
}

.hero .title {
  color: white;
}

.main-vector__list {
  margin-bottom: 50px;
  font-size: 24px;
  padding-left: 20px;
}

.main-vector__list--mb0 {
  margin-bottom: 0px;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link-or-btn {
  outline: 1px solid red;
  width: 0;
}

/* modal additional styles*/
.modal-open-btn {
  padding: 20px;
  border: none;
  border-radius: 4px;
  font-size: 24px;
  color: #fff;
  background-color: tomato;
  cursor: pointer;
  transition: 250ms color linear, 250ms background-color linear;
}

.modal-open-btn:hover {
  color: tomato;
  background-color: #f7f7f7;
  border: 1px solid tomato;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid green;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.header .container {
  display: flex;
  align-items: center;
}

.header .nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-link {
  /* display: inline-block; */
  padding: 20px 20px;
  margin: 5px 15px;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  background-color: #a3c0ff;
}

.github-link:hover .github-icon {
  fill: #9a42ff;
}

.current {
  background-color: #9a42ff;
  color: red;
  /* font-weight: 700; */
}

.hero__title1 {
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .hero {
    height: 400px;
    background-size: cover;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../assets/images/hero/hero-mobile.jpg), linear-gradient(to right, red, blue);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../assets/images/hero/hero-mobile@2x.jpg), linear-gradient(to right, red, blue);
  }
}

@media screen and (min-device-pixel-ratio: 3) and (max-width: 767px), screen and (min-resolution: 288dpi) and (max-width: 767px), screen and (min-resolution: 3dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../assets/images/hero/hero-mobile@3x.jpg), linear-gradient(to right, red, blue);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    height: 400px;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../assets/images/hero/hero-tablet.jpg), linear-gradient(to right, red, blue);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../assets/images/hero/hero-tablet@2x.jpg), linear-gradient(to right, red, blue);
  }
}

@media screen and (min-device-pixel-ratio: 3) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 288dpi) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 3dppx) and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../assets/images/hero/hero-tablet@3x.jpg), linear-gradient(to right, red, blue);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../assets/images/hero/hero-desktop.jpg), linear-gradient(to right, red, blue);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../assets/images/hero/hero-desktop@2x.jpg), linear-gradient(to right, red, blue);
  }
}

@media screen and (min-device-pixel-ratio: 3) and (min-width: 1200px), screen and (min-resolution: 288dpi) and (min-width: 1200px), screen and (min-resolution: 3dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../assets/images/hero/hero-desktop@3x.jpg), linear-gradient(to right, red, blue);
  }
}

/* ========================= EXAMPLE 2 ========================= */
.card {
  padding: 10px;
  width: 400px;
  outline: 2px solid black;
}

.card .text {
  margin-top: 20px;
  font-size: 24px;
}

.card::before {
  display: block;
  content: '';
  height: 70px;
  margin-bottom: 20px;
  /* background-size: contain; */
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #d8e4ff;
}

.icon-astronaut::before {
  background-image: url("../images/pseudo/astronaut.svg");
}

.icon-clock::before {
  background-image: url("../images/pseudo/clock.svg");
}

/* ============================================================= */
/* ========================= EXAMPLE 1 ========================= */
/* Approach 2 - with pseudoelement*/
.button {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 24px;
  background-color: teal;
  color: #fff;
  cursor: pointer;
}

.button::before {
  content: '';
  width: 20px;
  height: 20px;
  margin-right: 10px;
  outline: 1px solid black;
  background-image: url("../images/rocket-icon.png");
  background-size: contain;
}

.button:hover,
.button:focus {
  background-color: pink;
  color: green;
}

/* Approach 1 - without pseudoelement*/
/* .button {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;

  font-size: 24px;
  background-color: teal;
  color: #fff;
  cursor: pointer;
}

.button > .icon {
  width: 20px;
  height: 20px;
  outline: 1px solid black;
  margin-right: 10px;

  background-image: url('../images/rocket-icon.png');
  background-size: contain;
}

.button:hover,
.button:focus {
  background-color: pink;
  color: green;
} */
/* ============================================================= */
.fb-icon {
  outline: 1px solid green;
  fill: blue;
  /* fill-opacity: 0.8; */
  stroke: yellowgreen;
  stroke-width: 2;
}

.fb-icon:hover {
  fill: #0101af;
  stroke: #a3f500;
}

.icon-clubs {
  padding: 10px;
  background-color: #dfdfdf;
  cursor: pointer;
  border-radius: 20px;
}

.icon-clubs:hover {
  fill: #248000;
  background-color: #ffe8e8;
}

/* add body-top padding automatically by --body-height-auto.js-- */
/* body {
  padding-top: 67px;
} */
/* --------------------------- */
/* 1. Change height in header1 */
/* 2. body-height-auto.js changed automatically padding-top in header */
.header1 {
  position: fixed;
  left: 0;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: rgba(133, 186, 255, 0.5);
  z-index: 1;
}

.header1 .container {
  display: flex;
  align-items: center;
}

/* --- --- --- --- --- --- --- --- --- */
/* --- --- --- PRODUCT start --- --- - */
.product {
  display: inline-block;
  box-shadow: 1px 7px 24px 0px #42445a;
}

.product:hover .product__actions {
  opacity: 1;
}

.product__thumb {
  position: relative;
}

.product__actions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  opacity: 0;
  transition: 500ms opacity linear;
  /* z-index - for hiding  */
  /* z-index: 2; */
}

/* Overlay making --- BEGIN */
.product__thumb::before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(255, 115, 0, 0.5);
  opacity: 0;
  transition: 500ms opacity linear;
}

.product__thumb:hover::before {
  opacity: 1;
}

/* Overlay making --- END */
.product__icon {
  outline: 1px solid #2a2a2a;
  background-color: #f0ebeb;
}

.product__descr {
  padding: 10px;
}

/* --- --- ---PRODUCT end  --- --- --- */
/* --- --- --- --- --- --- --- --- --- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 210, 152, 0.5);
  transition: 250ms opacity linear;
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.guide-modal {
  font-size: 24px;
  background-color: #e4ffea;
}

.guide__backdrop-style,
.guide__modal,
.guide__is-hidden,
.guide__js {
  display: block;
}

.guide__modal--mg {
  display: block;
  margin-left: 10px;
}

.guide__data-attribute {
  color: #6f6fff;
}

.guide__modal-markup {
  display: inline-block;
  padding: 10px;
  outline: 3px solid #25ff75;
}

.close-btn {
  margin-left: auto;
  display: block;
  width: 60px;
  height: 60px;
  padding: 8px;
  font-size: 30px;
  color: #fff;
  background-color: teal;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 250ms color linear, 250ms background-color linear;
}

.close-btn:hover {
  color: teal;
  background-color: #fff;
  border: 1px solid teal;
}

.animation__title {
  font-size: 42px;
  text-align: center;
  color: #2c2c2c;
  margin-top: 40px;
  margin-bottom: 20px;
}

.example5 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
}

.button {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 36px;
  background-color: teal;
  color: #fff;
  cursor: pointer;
  transition: background-color 200ms linear, color 200ms linear;
}

.button:hover,
.button:focus {
  background-color: pink;
  color: green;
}

/* ::before */
.button::before {
  content: '';
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-image: url("../../images/rocket-icon.png");
  background-size: contain;
  transition: transform 250ms linear;
}

.button:hover::before {
  transform: translateY(-50px);
}

/* ::after` */
.button::after {
  position: absolute;
  content: '';
  width: 30px;
  height: 30px;
  background-color: green;
  transform: translateY(50px);
  transition: transform 250ms linear;
}

.button:hover::after {
  transform: translateY(0);
}

.menu {
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 10px;
}

.menu__link {
  position: relative;
  display: block;
  padding: 20px 40px;
  font-size: 32px;
  color: black;
  outline: 1px solid black;
}

.menu__link::after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background-color: red;
  transform: scaleX(0);
  /* transform-origin: right; */
  transition: transform 250ms linear;
}

.menu__link:hover::after {
  transform: scaleX(1);
}

.product {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 7px 24px 0px #42445a;
  overflow: hidden;
}

.product__thumb {
  position: relative;
}

.product__actions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 250ms linear 250ms;
}

/* Overlay making --- BEGIN */
.product__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 115, 0, 0.5);
  transform: translateX(-100%);
  transition: transform 250ms linear;
}

.product:hover .product__overlay {
  transform: translateX(0%);
}

.product:hover .product__actions {
  opacity: 1;
}

/* Overlay making --- END */
.product__icon {
  outline: 1px solid #2a2a2a;
  background-color: #f0ebeb;
}

.product__descr {
  padding: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(39, 255, 128, 0.5);
  /* opacity: 1; */
  transition: opacity 250ms linear;
  padding: 20px 10px;
  overflow-y: scroll;
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop--is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  padding: 15px;
  min-width: 100%;
  font-size: 24px;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    min-height: 300px;
    min-width: 400px;
    background-color: #fff;
    transition: transform 250ms linear;
  }
}

.scene {
  width: 300px;
  height: 300px;
  outline: 5px solid red;
  perspective: 400px;
}

.box {
  height: 100%;
  background-image: url(../../images/Face-smile.svg);
  background-size: cover;
  background-position: center;
  background-color: #bcffb6;
  transform: rotateY(60deg);
  transition: transform 500ms linear;
}

/* ==================================== */
.scene1 {
  width: 300px;
  height: 300px;
  outline: 5px solid red;
  perspective: 400px;
}

.box1 {
  height: 100%;
  background-image: url(../../images/Face-smile.svg);
  background-size: cover;
  background-position: center;
  background-color: #bcffb6;
  transform: rotateY(0);
  transition: transform 500ms linear;
}

.scene1:hover .box1 {
  transform: rotateY(180deg);
}

.form1 {
  width: 500px;
  outline: 1px solid teal;
  background-color: #ecffda;
}

.form1 button[type='submit'] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 50px;
  font-size: 16px;
  border: 1px solid #2c2c2c;
  border-radius: 8px;
  color: black;
  cursor: pointer;
}

.form1__group-title {
  display: block;
  margin-bottom: 5px;
}

.form1__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form1__field--date {
  margin-top: 10px;
}

.form1__field input {
  padding: 6px 10px;
  border: 1px solid #2a2a2a;
}

.form1__field input::placeholder {
  color: #af0000;
}

.form1__field label {
  margin-bottom: 5px;
}

.form1__topic-technologies li {
  display: flex;
  align-items: center;
}

.form1__topic-technologies label {
  margin-left: 10px;
}

.form1__group--experience {
  margin-top: 10px;
}

.form__comments {
  resize: none;
  padding: 8px;
}

.form2 {
  margin-top: 50px;
  width: 350px;
  background-color: #c0f8fc;
  padding-top: 30px;
  outline: 1px solid black;
}

.form2__field {
  position: relative;
  outline: 2px dotted green;
}

.form2 input {
  padding: 6px 30px;
  width: 100%;
  box-sizing: border-box;
}

.form2 label {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  transition: transform 250ms ease-in-out;
}

.form2 input:focus + label,
.form2 input:not(:placeholder-shown) + label {
  transform: translateY(-40px);
}

.form2__icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 15px;
  height: 15px;
  background-color: #ff6ea5;
  transition: background-color 250ms linear;
}

input:focus ~ .form2__icon,
input:not(:placeholder-shown) ~ .form2__icon {
  background-color: green;
}

.form3 {
  background-color: pink;
  outline: 2px dotted green;
}

.form3__field {
  position: relative;
  outline: 1px dotted orange;
  margin-top: 30px;
}

.form3__input {
  font-size: 24px;
  width: 100%;
  box-sizing: border-box;
}

.form3__input:focus + .form3__label {
  transform: translateY(-30px);
  color: red;
}

.form3__input:not(:placeholder-shown) + .form3__label {
  transform: translateY(-30px);
}

.form3__label {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 250ms linear;
  font-size: 24px;
}

.form4 {
  margin-top: 30px;
  width: 450px;
  padding: 10px;
  outline: 2px solid red;
}

.form4 label {
  position: relative;
}

.form4 span {
  position: absolute;
  display: block;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  transition: transform 250ms linear;
  color: green;
}

.form4 input {
  width: 100%;
  box-sizing: border-box;
  padding: 6px 10px;
}

.form4 input:focus-within + span,
.form4 input:not(:placeholder-shown) + span {
  transform: translateY(-34px);
}

.form5 {
  padding: 5px;
  background-color: #f8ffea;
  outline: 1px solid black;
}

.form5 label {
  outline: 1px dotted black;
  display: inline-block;
  display: flex;
  align-items: center;
}

.form5 .checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.form5 .icon {
  content: '';
  display: inline-block;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border: 4px solid #6e6e6e;
  border-radius: 8px;
}

.form5 .checkbox:checked + .icon {
  background-color: green;
  background-image: url("../../../images/form/form5-arrow-checked.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.form5 .text {
  transition: transform 25ms linear;
}

.form5 .checkbox:checked ~ .text {
  transform: translateX(20px);
}

.responsive .container-resp {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .responsive .container-resp {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .responsive .container-resp {
    width: 768px;
  }
}

@media screen and (min-width: 1140px) {
  .responsive .container-resp {
    width: 1140px;
  }
}

.responsive header {
  position: relative;
  background-color: #cccccc;
}

.responsive .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
}

.responsive .logo {
  padding: 5px;
  border: 1px solid blue;
  border-radius: 4px;
  font-size: 24px;
  line-height: 1.4;
  background-color: #9b9bf8;
}

.responsive .logo:hover {
  background-color: #5959fa;
}

.responsive .list {
  list-style: none;
  outline: 3px solid red;
}

.responsive .list li {
  padding: 10px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.responsive .users li:first-child {
  background-color: tomato;
}

.responsive .users li:nth-child(2) {
  background-color: #006400;
}

.responsive .users li:nth-child(3) {
  background-color: teal;
}

.responsive .users li:nth-child(4) {
  background-color: #556b2f;
}

.responsive .users li:nth-child(5) {
  background-color: #6a5acd;
}

.responsive .users li:nth-child(6) {
  background-color: #ff8c00;
}

.responsive .groups li:nth-child(1) {
  background-color: blue;
}

.responsive .groups li:nth-child(2) {
  background-color: #7fff00;
}

.responsive .groups li:nth-child(3) {
  background-color: brown;
}

@media screen and (min-width: 768px) {
  .responsive .users {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
  }
}

@media screen and (max-width: 767px) {
  .responsive .users__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .responsive .users__item {
    flex-basis: calc((100% - 4 * 5px) / 2);
    margin: 5px;
  }
}

@media screen and (min-width: 1140px) {
  .responsive .users__item {
    flex-basis: calc((100% - 6 * 5px) / 3);
  }
}

@media screen and (max-width: 767px) {
  .groups-section {
    display: none;
  }
}

.groups {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
}

.groups li {
  margin: 5px;
  flex-basis: calc((100% - 6 * 5px) / 3);
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.mob-menu-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 250px;
  display: none;
  background-color: palegoldenrod;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

.mob-menu-container.is-open {
  display: block;
}

.body__picture {
  font-size: 24px;
}

.body__picture footer {
  background-color: #d4d4d4;
}
/*# sourceMappingURL=main.css.map */