.fb-icon {
  outline: 1px solid green;
  fill: blue;
}
.fb-icon:hover {
  fill: rgb(1, 1, 175);
}

.icon-clubs {
  padding: 10px;
  background-color: #dfdfdf;
  /* fill: aliceblue; */
  cursor: pointer;
  border-radius: 20px;
}
.icon-clubs:hover {
  fill: rgb(36, 128, 0);
  background-color: rgb(255, 232, 232);
}
