.hero {
  &__title1 {
    text-align: center;
    color: #fff;
  }

  // --- --- MOBILE --- ---
  @media screen and (max-width: 767px) {
    height: 400px;
    background-size: cover;
  }

  @media screen and (max-width: 767px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../assets/images/hero/hero-mobile.jpg),
      linear-gradient(to right, rgb(255, 0, 0), rgb(0, 0, 255));
  }

  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../assets/images/hero/hero-mobile@2x.jpg),
      linear-gradient(to right, rgb(255, 0, 0), rgb(0, 0, 255));
  }

  @media screen and (min-device-pixel-ratio: 3) and (max-width: 767px),
    screen and (min-resolution: 288dpi) and (max-width: 767px),
    screen and (min-resolution: 3dppx) and (max-width: 767px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../assets/images/hero/hero-mobile@3x.jpg),
      linear-gradient(to right, rgb(255, 0, 0), rgb(0, 0, 255));
  }
  // --- --- MOBILE END --- ---

  // === === TABLET === ===

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    height: 400px;
    background-size: cover;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../assets/images/hero/hero-tablet.jpg),
      linear-gradient(to right, rgb(255, 0, 0), rgb(0, 0, 255));
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px),
    screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../assets/images/hero/hero-tablet@2x.jpg),
      linear-gradient(to right, rgb(255, 0, 0), rgb(0, 0, 255));
  }

  @media screen and (min-device-pixel-ratio: 3) and (min-width: 768px) and (max-width: 1199px),
    screen and (min-resolution: 288dpi) and (min-width: 768px) and (max-width: 1199px),
    screen and (min-resolution: 3dppx) and (min-width: 768px) and (max-width: 1199px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../assets/images/hero/hero-tablet@3x.jpg),
      linear-gradient(to right, rgb(255, 0, 0), rgb(0, 0, 255));
  }
  // === === TABLET END === ===

  //
  //
  //
  // === === DESKTOP === ===

  @media screen and (min-width: 1200px) {
    height: 600px;
    background-size: cover;
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../assets/images/hero/hero-desktop.jpg),
      linear-gradient(to right, rgb(255, 0, 0), rgb(0, 0, 255));
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../assets/images/hero/hero-desktop@2x.jpg),
      linear-gradient(to right, rgb(255, 0, 0), rgb(0, 0, 255));
  }

  @media screen and (min-device-pixel-ratio: 3) and (min-width: 1200px),
    screen and (min-resolution: 288dpi) and (min-width: 1200px),
    screen and (min-resolution: 3dppx) and (min-width: 1200px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../assets/images/hero/hero-desktop@3x.jpg),
      linear-gradient(to right, rgb(255, 0, 0), rgb(0, 0, 255));
  }
  // === === Desktop END === ===
}
