.groups-section {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.groups {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;

  li {
    margin: 5px;
    flex-basis: calc((100% - 6 * 5px) / 3);
  }
}
