.form1__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  &--date {
    margin-top: 10px;
  }

  input {
    margin: 0;
    padding: 6px 10px;
    border: 1px solid #2a2a2a;
  }

  input::placeholder {
    color: #af0000;
  }

  label {
    margin-bottom: 5px;
  }
}
