.form3 {
  background-color: pink;
  outline: 2px dotted green;

  &__field {
    position: relative;
    outline: 1px dotted orange;
    margin-top: 30px;
  }

  &__input {
    font-size: 24px;
    width: 100%;

    box-sizing: border-box;
  }

  &__input:focus + &__label {
    transform: translateY(-30px);
    color: red;
  }

  &__input:not(:placeholder-shown) + &__label {
    transform: translateY(-30px);
  }

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 250ms linear;
    font-size: 24px;
  }

  &__span {
    //
  }
}
